<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
     <ion-title>
        Register
    </ion-title>   
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="name" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input  [(ngModel)]="email" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="signup()" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
</ion-content>