<ion-content class="popover-wrapper">
  <ion-item>
    <ion-label>Location Track</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="Yes">Yes</ion-select-option>
      <ion-select-option value="No">No</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Controllers of Personal Information</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown">Automatic Information</ion-select-option>
      <ion-select-option value="blonde">E-mail Communications</ion-select-option>
      <ion-select-option value="black">Information from Other Sources</ion-select-option>
    </ion-select>
  </ion-item>
 <ion-list>
  <!-- <ion-list-header>Characters</ion-list-header> -->
    <ion-item>
      <ion-label>Affiliated Businesses </ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Third Party Service  </ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Promotional Offers </ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Business Transfers </ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    </ion-list>
  

</ion-content>
